*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  background: linear-gradient(40deg,rgb(167, 62, 62), rgba(36, 135, 100, 0.653),rgb(197, 81, 110));
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.notes{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.note{
  background-color: rgb(68, 66, 66);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(238, 221, 191);
}
.note button{
  border-radius: 0.7rem;
  padding: 0.4rem;
  background-color: red;
}

.note-create{
  display: flex;
  gap: 0.7rem;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.331);
  box-shadow: 5px 5px 6px ;
  border-radius: 1rem;
}
.note-create input{
  border-radius: 0.7rem;
  padding: 0.3rem;
}
.note-create button{
  border-radius: 0.7rem;
  padding: 0.4rem;
  background-color: aquamarine;
}