*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,body,#root{
  height: 100%;
  width: 100%;
}

html{
  background-color: rgb(15, 14, 14);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.notes{
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  padding: 1rem;
}
.note{
  background-color: rgb(68, 66, 66);
  padding: 1rem;
  border-radius: 0.7rem;
  max-width: 20rem;
  color: rgb(238, 221, 191);
}

.note-create{
  display: flex;
  gap: 0.7rem;
  padding: 1rem;
}